#quiz {
  margin: auto;
}

.ans {
  display: none;
}

.ans .mdl-chip__text {
  text-transform: uppercase;
}

.ans-title {
  color: #dd0077;
}

.ans > h5 {
  display: inline-block;
  margin: 2px;
  line-height: 32px;
  vertical-align: bottom;
}

.mdl-button {
    margin-inline: 4px;
}